@import url('//fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');

$mainFont:"Work Sans";
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;